In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('raw_asaef_data.csv')
data.head()

# Removing innecesary columns

In [ ]:
data.drop(columns=['Pais', 'Fax'], inplace=True)
data.columns

# Removing some categories

In [ ]:
print(list(map(lambda x: 'Infantil' in x or 'Primaria' in x, data['Categoria'])).count(True), 'number of schools')

# Final dataframe

In [ ]:
df = data[data['Categoria'].str.contains('Primaria|Infantil')].reset_index(drop=True)

df.head()

In [ ]:
df.info()

Export dataset

In [ ]:
df.to_csv('data/clean_asaef_data.csv', index=False)

Import dataset

In [ ]:
clean_data = pd.read_csv('clean_asaef_data.csv')
clean_data.head()

### Json

In [ ]:
import json

json_file = clean_data['Nombre'].to_list()
type(json_file)

jsonString = json.dumps(json_file)

# Writing to sample.json
with open("sample.json", "w") as outfile:
    outfile.write(jsonString)

### NEW DATASET ( SCHOOLS THAT PARTIPATE PREVIOUS YEARS )

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data2021 = pd.read_csv('colegios_2021.csv', delimiter=';', header=1)
data2021.head()

In [ ]:
data2021.columns

In [ ]:
data2021.drop(columns=['Nombre', 'Apellidos', 'Cargo',  'Dudas', 'Inscripción',
       'Propuestas de actividades', 'Confirmación recepción'], inplace=True)
data2021['Estado'] = data2021['Comunidad Autónoma']
data2021.rename(columns={'Comunidad Autónoma':'Codigo Postal'}, inplace=True)
data2021.columns

In [ ]:
# for colegio in data2021['Colegio']:
data2021['Colegio'] = data2021['Colegio'].str.upper()
data2021['Provincia'] = data2021['Provincia'].str.upper()
data2021['Codigo Postal'] = data2021['Codigo Postal'].str.upper()
data2021['Estado'] = data2021['Estado'].str.upper()
data2021.head()

In [ ]:
CP ={
'Almería':4,
'Cádiz':11,
'Córdoba':14,
'Granada':18,
'Huelva':21,
'Jaén':23,
'Málaga':29,
'Sevilla':41,
'Huesca':22,
'Teruel':44,
'Zaragoza':50,
'Asturias':33,
'Balears':7,
'Las Palmas':35,
'Santa Cruz de Tenerife':38,
'Cantabria':39,
'Ávila':5,
'Burgos':9,
'León':24,
'Palencia':34,
'Salamanca':37,
'Segovia':40,
'Soria':42,
'Valladolid':47,
'Zamora':49,
'Albacete':2,
'Ciudad Real':13,
'Cuenca':16,
'Guadalajara':19,
'Toledo':45,
'Barcelona':8,
'Girona':17,
'Lleida':25,
'Tarragona':43,
'Alicante':	3,
'Castellón':12,
'Valencia':46,
'Badajoz':6,
'Cáceres':10,
'A Coruña':15,
'Lugo':27,
'Ourense':32,
'Pontevedra':36,
'Madrid':28,
'Murcia':30,
'Navarra':31,
'Álava':1,
'Bizkaia':48,
'Gipuzkoa':20,
'La Rioja':26,
'Ceuta':51}

In [ ]:
# type(CP)
def getList(dict):
    return dict.keys()
      
# Driver program
keys = getList(CP)

# list od cp
cp = []
for n in keys:
    cp.append(n.upper())

print(cp)

In [ ]:
CP = {k.upper():v for k,v in CP.items()}

In [ ]:
data2021.dropna(how='any', axis = 0, inplace = True)
data2021.reset_index(drop=True, inplace=True)
data2021.info()

In [ ]:
# data2021['Provincia'] = data2021['Provincia'].apply(lambda x: x.lower())
errores = []
for index, palabra in enumerate(data2021['Provincia']):
    if palabra in cp:
        try:
            data2021['Codigo Postal'][index] = CP[palabra]
        except:
            errores.append(palabra)
    else:
        continue
    
for index, palabra in enumerate(data2021['Codigo Postal']):
    if palabra in cp:
        try:
            data2021['Codigo Postal'][index] = CP[palabra]
        except:
            errores.append(palabra)
    else:
        continue

In [ ]:
data2021.head(20)

In [ ]:
type(data2021['Codigo Postal'][6])

In [ ]:
for i in range(len(data2021['Codigo Postal'])):
    if type(data2021['Codigo Postal'][i]) != int :
        data2021['Codigo Postal'][i] = 0
    else:
        continue

In [ ]:
data2021.head(20)

In [ ]:
# data2021.to_csv('data/asaef_data2021.csv', index=False)

### DATA SCRAPEADA COLEGIOS

In [289]:
data = pd.read_csv('dataColes/data_scrapeada_infantil_privado.csv')
data.head()

,Nombre,Email,Telefono,Codigo_Postal,Codeigo_Escuela
0,Denominación específica: Había una vez,Dirección de correo electrónico: habiaunavez45...,Teléfono: 659915943,Código postal: 04770,4011132
1,Denominación específica: Mi Primer Cole,Dirección de correo electrónico: lolimp81@hotm...,Teléfono: 677775242,Código postal: 04770,4011247
2,Denominación específica: Casa de Colores,Dirección de correo electrónico: info@casadeco...,Teléfono: 649860898,Código postal: 04720,4000262
3,Denominación específica: El Rancho,Dirección de correo electrónico: isarancho@hot...,Teléfono: 950348913,Código postal: 04720,4008923
4,Denominación específica: Luna Lunera,Dirección de correo electrónico: lunalunera.es...,Teléfono: 678801951,Código postal: 04720,4009915

In [290]:
data.rename(columns={'Codeigo_Escuela':'ID'}, inplace=True)
# data['Estado'] = 
# data['Provincia'] = 
# data['categoria'] =

In [291]:
data.columns

Index(['Nombre', 'Email', 'Telefono', 'Codigo_Postal', 'ID'], dtype='object')

In [292]:
data[['Nombre', 'Email', 'Telefono', 'Codigo_Postal', 'ID']].astype(str)

,Nombre,Email,Telefono,Codigo_Postal,ID
0,Denominación específica: Había una vez,Dirección de correo electrónico: habiaunavez45...,Teléfono: 659915943,Código postal: 04770,4011132
1,Denominación específica: Mi Primer Cole,Dirección de correo electrónico: lolimp81@hotm...,Teléfono: 677775242,Código postal: 04770,4011247
2,Denominación específica: Casa de Colores,Dirección de correo electrónico: info@casadeco...,Teléfono: 649860898,Código postal: 04720,4000262
3,Denominación específica: El Rancho,Dirección de correo electrónico: isarancho@hot...,Teléfono: 950348913,Código postal: 04720,4008923
4,Denominación específica: Luna Lunera,Dirección de correo electrónico: lunalunera.es...,Teléfono: 678801951,Código postal: 04720,4009915
...,...,...,...,...,...
4604,Denominación específica: GLOBITOS,Dirección de correo electrónico:,Teléfono: 956519544,Código postal: 51001,51000705
4605,Denominación específica: SOLETE,Dirección de correo electrónico:,Teléfono: 956511491,Código postal: 51001,51000651
4606,Denominación específica: CRUZ ROJA,Dirección de correo electrónico:,Teléfono: 952674434,Código postal: 52004,52004846
4607,Denominación específica: MERLÍN,Dirección de correo electrónico: guarderiamerl...,Teléfono: 952678509,Código postal: 52005,52004810
4608,Denominación específica: CENTRO SOCIOCULTURAL ...,Dirección de correo electrónico:,Teléfono: 952681053,Código postal: 52002,52004779

In [293]:
# Separate and Create
data[['Basura', 'Nombre']] = data.Nombre.str.split(pat=': ',expand=True)
data[['Basura1', 'Email']] = data.Email.str.split(pat=': ',expand=True)
data[['Basura2', 'Telefono']] = data.Telefono.str.split(pat=': ',expand=True)
data[['Basura3', 'Codigo_Postal']] = data.Codigo_Postal.str.split(pat=': ',expand=True)
# Drop
data.drop(columns=['Basura', 'Basura1', 'Basura2', 'Basura3'], inplace=True)

In [294]:
data.head()

,Nombre,Email,Telefono,Codigo_Postal,ID
0,Había una vez,habiaunavez45@gmail.com,659915943,04770,4011132
1,Mi Primer Cole,lolimp81@hotmail.com,677775242,04770,4011247
2,Casa de Colores,info@casadecolores.es,649860898,04720,4000262
3,El Rancho,isarancho@hotmail.com,950348913,04720,4008923
4,Luna Lunera,lunalunera.escuelainfantil@gmail.com,678801951,04720,4009915

In [295]:
type(data.Codigo_Postal[1])

str

In [296]:
Provincia = {
'Álava':'01',
'Albacete':'02',
'Alicante':'03',
'Almería':'04',
'Ávila':'05',
'Badajoz':'06',
'Baleares':'07',
'Barcelona':'08',
'Burgos':'09',
'Cáceres':'10',
'Cádiz':'11',
'Castellón':'12',
'Ciudad Real':'13',
'Córdoba':'14',
'La Coruña':'15',
'Cuenca':'16',
'Gerona':'17',
'Granada':'18',
'Guadalajara':'19',
'Guipúzcoa':'20',
'Huelva':'21',
'Huesca':'22',
'Jaén':'23',
'León':'24',
'Lérida':'25',
'La Rioja':'26',
'Lugo':'27',
'Madrid':'28',
'Málaga':'29',
'Murcia':'30',
'Navarra':'31',
'Orense':'32',
'Asturias':'33',
'Palencia':'34',
'Las Palmas':'35',
'Pontevedra':'36',
'Salamanca':'37',
'Santa Cruz de Tenerife':'38',
'Cantabria':'39',
'Segovia':'40',
'Sevilla':'41',
'Soria':'42',
'Tarragona':'43',
'Teruel':'44',
'Toledo':'45',
'Valencia':'46',
'Valladolid':'47',
'Vizcaya':'48',
'Zamora':'49',
'Zaragoza':'50',
'Ceuta':'51',
'Melilla':'52'}

CP = {v:k for k,v in Provincia.items()}

In [297]:
data['Provincia'] = data['Codigo_Postal']


for index in range(len(data['Codigo_Postal'])):
    data.Provincia[index] = CP[data.Codigo_Postal[index][0:2]]

c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [298]:
Estado = {
'Andalucía':'0',
'Aragón':'1',
'Asturias':'2',
'Baleares':'3',
'Canarias' :'4',
'Cantabria' :'5',
'Castilla La Mancha' :'6',
'Castilla y León' :'7',
'Cataluña' :'8',
'Comunidad Valenciana' :'9',
'Extremadura' :'10',
'Galicia' :'11',
'Madrid':'12',
'Murcia':'13',
'Navarra' :'14',
'País Vasco' :'15',
'La Rioja' : '16',
'Ceuta' : '17',
'Melilla' : '18'}

CA = {v:k for k,v in Estado.items()}

In [299]:
Andalucía = ['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén', 'Málaga', 'Sevilla']
Aragón = ['Huesca', 'Teruel', 'Zaragoza']
Asturias = ['Oviedo']
Baleares = ['Palma de Mallorca']
Canarias = ['Santa Cruz de Tenerife', 'Las Palmas de Gran Canaria']
Cantabria = ['Santander']
Castilla_La_Mancha = ['Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara', 'Toledo']
Castilla_León = ['Ávila', 'Burgos', 'León', 'Salamanca', 'Segovia', 'Soria', 'Valladolid', 'Zamora']
Cataluña = ['Barcelona', 'Gerona', 'Lérida', 'Tarragona']
Comunidad_Valenciana = ['Alicante', 'Castellón', 'Valencia']
Extremadura = ['Badajoz', 'Cáceres']
Galicia = ['La Coruña', 'Lugo', 'Orense', 'Pontevedra']
Madrid = ['Madrid']
Murcia = ['Murcia']
Navarra = ['Pamplona']
País_Vasco = ['Álava', 'Vizcaya', 'Guipúzcoa']
La_Rioja = ['Logroño']
Ceuta = ['Ceuta']
Melilla = ['Melilla']

lista_de_listas = [Andalucía, Aragón, Asturias, Baleares, Canarias, Cantabria, Castilla_León, Castilla_La_Mancha, Cataluña, 
Comunidad_Valenciana, Extremadura, Galicia, Madrid, Murcia, Navarra, País_Vasco, La_Rioja, Ceuta, Melilla]

In [300]:
data['Estado'] = data['Provincia']

for index1 in range(len(data['Provincia'])):
    for index2 in range(len(lista_de_listas)):
        if data['Provincia'][index1] in lista_de_listas[index2]:
            data['Estado'][index1] = CA[str(index2)] 
        else:
            continue

columna = 'Centro Privado'

data['Categoria'] = columna

c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [301]:
data.head()

,Nombre,Email,Telefono,Codigo_Postal,ID,Provincia,Estado,Categoria
0,Había una vez,habiaunavez45@gmail.com,659915943,04770,4011132,Almería,Andalucía,Centro Privado
1,Mi Primer Cole,lolimp81@hotmail.com,677775242,04770,4011247,Almería,Andalucía,Centro Privado
2,Casa de Colores,info@casadecolores.es,649860898,04720,4000262,Almería,Andalucía,Centro Privado
3,El Rancho,isarancho@hotmail.com,950348913,04720,4008923,Almería,Andalucía,Centro Privado
4,Luna Lunera,lunalunera.escuelainfantil@gmail.com,678801951,04720,4009915,Almería,Andalucía,Centro Privado

### 2CSV

In [302]:
data1 = pd.read_csv('dataColes/data_scrapeada_infantil.csv')
data1.head()

,Nombre,Email,Telefono,Codigo_Postal,Codigo_Escuela
0,Denominación específica: Mar Azul,Dirección de correo electrónico: noeliasanttos...,Teléfono: 606558049,Código postal: 04770,4009447
1,Denominación específica: Albox,Dirección de correo electrónico: casealbox@els...,Teléfono: 950120089,Código postal: 04800,4009459
2,Denominación específica: María del Mar Contrer...,Dirección de correo electrónico: sixcar90@hotm...,Teléfono: 661205194,Código postal: 04400,4009423
3,Denominación específica: Espejo del Mar,Dirección de correo electrónico: 04009101.edu@...,Teléfono: 950153334,Código postal: 04009,4009101
4,Denominación específica: La Esmeralda,Dirección de correo electrónico: angeles.monto...,Teléfono: 950155026,Código postal: 04008,4009083

In [303]:
data1.rename(columns={'Codigo_Escuela':'ID'}, inplace=True)

data1[['Nombre', 'Email', 'Telefono', 'Codigo_Postal', 'ID']].astype(str)

# Separate and Create
data1[['Basura', 'Nombre']] = data1.Nombre.str.split(pat=': ',expand=True)
data1[['Basura1', 'Email']] = data1.Email.str.split(pat=': ',expand=True)
data1[['Basura2', 'Telefono']] = data1.Telefono.str.split(pat=': ',expand=True)
data1[['Basura3', 'Codigo_Postal']] = data1.Codigo_Postal.str.split(pat=': ',expand=True)
# Drop
data1.drop(columns=['Basura', 'Basura1', 'Basura2', 'Basura3'], inplace=True)

data1['Provincia'] = data1['Codigo_Postal']

for index in range(len(data1['Codigo_Postal'])):
    try:
        data1.Provincia[index] = CP[data1.Codigo_Postal[index][0:2]]
    except:
        continue

data1['Estado'] = data1['Provincia']

for index1 in range(len(data1['Provincia'])):
    for index2 in range(len(lista_de_listas)):
        if data1['Provincia'][index1] in lista_de_listas[index2]:
            data1['Estado'][index1] = CA[str(index2)] 
        else:
            continue

columna = 'Centro Público'

data1['Categoria'] = columna 

data1['Estado'] = list(map(lambda x: x.replace('00000', 'Castilla y León'), data1['Estado']))
data1['Provincia'] = list(map(lambda x: x.replace('00000', 'Palencia'), data1['Provincia']))

c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [304]:
data1.head()

,Nombre,Email,Telefono,Codigo_Postal,ID,Provincia,Estado,Categoria
0,Mar Azul,noeliasanttos@hotmail.com,606558049,04770,4009447,Almería,Andalucía,Centro Público
1,Albox,casealbox@elsaliente.com,950120089,04800,4009459,Almería,Andalucía,Centro Público
2,María del Mar Contreras Domínguez,sixcar90@hotmail.com,661205194,04400,4009423,Almería,Andalucía,Centro Público
3,Espejo del Mar,04009101.edu@juntadeandalucia.es,950153334,04009,4009101,Almería,Andalucía,Centro Público
4,La Esmeralda,angeles.montoya@juntadeandalucia.es,950155026,04008,4009083,Almería,Andalucía,Centro Público

### 3CSV

In [305]:
data2 = pd.read_csv('dataColes/data_scrapeada_primaria_todos.csv')
data2.head()

,Nombre,Email,Telefono,Codigo_Postal,Tipo Centro,Codigo_Escuela
0,Denominación específica: Antonio Relaño,Dirección de correo electrónico: 04000021.edu@...,Teléfono: 950359902,Código postal: 04520,Naturaleza: Centro público,4000021
1,Denominación específica: Mare Nostrum,Dirección de correo electrónico: 04000092.edu@...,Teléfono: 950579579,Código postal: 04770,Naturaleza: Centro público,4000092
2,Denominación específica: San Fernando,Dirección de correo electrónico: 04000080.edu@...,Teléfono: 950579877,Código postal: 04770,Naturaleza: Centro público,4000080
3,Denominación específica: Arco Iris,Dirección de correo electrónico: 04005594.edu@...,Teléfono: 950156506,Código postal: 04720,Naturaleza: Centro público,4005594
4,Denominación específica: Francisco Sáiz Sanz,Dirección de correo electrónico: 04602158.edu@...,Teléfono: 950156957,Código postal: 04720,Naturaleza: Centro público,4602158

In [306]:
data2.rename(columns={'Codigo_Escuela':'ID', 'Tipo Centro':'Categoria'}, inplace=True)

data2[['Nombre', 'Email', 'Telefono', 'Codigo_Postal', 'ID']].astype(str)

# Separate and Create
data2[['Basura', 'Nombre']] = data2.Nombre.str.split(pat=': ',expand=True)
data2[['Basura1', 'Email']] = data2.Email.str.split(pat=': ',expand=True)
data2[['Basura2', 'Telefono']] = data2.Telefono.str.split(pat=': ',expand=True)
data2[['Basura3', 'Codigo_Postal']] = data2.Codigo_Postal.str.split(pat=': ',expand=True)
data2[['Basura4', 'Categoria']] = data2.Categoria.str.split(pat=': ',expand=True)
# Drop
data2.drop(columns=['Basura', 'Basura1', 'Basura2', 'Basura3', 'Basura4'], inplace=True)

data2['Provincia'] = data2['Codigo_Postal']

for index in range(len(data2['Codigo_Postal'])):
    try:
        data2.Provincia[index] = CP[data2.Codigo_Postal[index][0:2]]
    except:
        continue

data2['Estado'] = data2['Provincia']

for index1 in range(len(data2['Provincia'])):
    for index2 in range(len(lista_de_listas)):
        if data2['Provincia'][index1] in lista_de_listas[index2]:
            data2['Estado'][index1] = CA[str(index2)] 
        else:
            continue

# Centro público y Centro privado (Sustituir)
data2['Categoria'] = list(map(lambda x: x.replace('Centro público', 'Centro Público'), data2['Categoria']))
data2['Categoria'] = list(map(lambda x: x.replace('Centro privado', 'Centro Privado'), data2['Categoria']))
# Sustituir 'Codigo_Postal' problemático
data1['Estado'] = list(map(lambda x: x.replace('00000', 'Castilla y León'), data1['Estado']))
data1['Provincia'] = list(map(lambda x: x.replace('00000', 'Palencia'), data1['Provincia']))

c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [307]:
data2.tail(15)

,Nombre,Email,Telefono,Codigo_Postal,Categoria,ID,Provincia,Estado
14070,LOPE DE VEGA,ceip.lopedevega@me-ceuta.org,956512592,51001,Centro Público,51000195,Ceuta,Ceuta
14071,MAESTRO JUAN MOREJÓN,ceip.juanmorejon@me-ceuta.org,956506442,51002,Centro Público,51000237,Ceuta,Ceuta
14072,NÚMERO 18,,None,51002,Centro Público,51004723,Ceuta,Ceuta
14073,RAMÓN MARÍA DEL VALLE INCLÁN,ceip.valleinclan@me-ceuta.org,956502304,51002,Centro Público,51000225,Ceuta,Ceuta
14074,REY JUAN CARLOS I,ceip.reyjuancarlos1@me-ceuta.org,956500606,51002,Centro Público,51000456,Ceuta,Ceuta
14075,SANTA AMELIA,ceip.stamelia@me-ceuta.org,956503462,51004,Centro Público,51000183,Ceuta,Ceuta
14076,VICENTE ALEIXANDRE,ceip.vicentealeixandre@me-ceuta.org,956523965,51002,Centro Público,51000262,Ceuta,Ceuta
14077,NTRA.SRA.DEL BUEN CONSEJO,,952678533,52005,Centro Privado,52000129,Melilla,Melilla
14078,LICEO SEFARDÍ,,52004792,52004,Centro Privado,52004792,Melilla,Melilla
14079,CONSTITUCIÓN,ceip.constitucion@educacion.gob.es,952678559,52005,Centro Público,52000634,Melilla,Melilla
14080,HIPÓDROMO,ceip.hipodromo@educacion.gob.es,952671481,52005,Centro Público,52000725,Melilla,Melilla
14081,LEÓN SOLÁ,ceip.leonsola@educacion.gob.es,952683903,52003,Centro Público,52000361,Melilla,Melilla
14082,PEDRO DE ESTOPIÑÁN,ceip.pde@educacion.gob.es,None,52006,Centro Público,52004809,Melilla,Melilla
14083,REAL,ceip.real@educacion.gob.es,952674511,52006,Centro Público,52000041,Melilla,Melilla
14084,VELÁZQUEZ,ceip.velazquez@educacion.gob.es,952674502,52004,Centro Público,52000026,Melilla,Melilla

JOIN CSV AND SAVE CSV

In [308]:
datadef = pd.concat([data, data1, data2], ignore_index=True)
datadef['Nombre'] = datadef['Nombre'].str.title()

datadef.tail(10)

,Nombre,Email,Telefono,Codigo_Postal,ID,Provincia,Estado,Categoria
22936,Santa Amelia,ceip.stamelia@me-ceuta.org,956503462,51004,51000183,Ceuta,Ceuta,Centro Público
22937,Vicente Aleixandre,ceip.vicentealeixandre@me-ceuta.org,956523965,51002,51000262,Ceuta,Ceuta,Centro Público
22938,Ntra.Sra.Del Buen Consejo,,952678533,52005,52000129,Melilla,Melilla,Centro Privado
22939,Liceo Sefardí,,52004792,52004,52004792,Melilla,Melilla,Centro Privado
22940,Constitución,ceip.constitucion@educacion.gob.es,952678559,52005,52000634,Melilla,Melilla,Centro Público
22941,Hipódromo,ceip.hipodromo@educacion.gob.es,952671481,52005,52000725,Melilla,Melilla,Centro Público
22942,León Solá,ceip.leonsola@educacion.gob.es,952683903,52003,52000361,Melilla,Melilla,Centro Público
22943,Pedro De Estopiñán,ceip.pde@educacion.gob.es,None,52006,52004809,Melilla,Melilla,Centro Público
22944,Real,ceip.real@educacion.gob.es,952674511,52006,52000041,Melilla,Melilla,Centro Público
22945,Velázquez,ceip.velazquez@educacion.gob.es,952674502,52004,52000026,Melilla,Melilla,Centro Público

In [320]:
datadef.drop_duplicates(subset='ID', keep='first', inplace=True, ignore_index=False)

In [321]:
datadef.shape

(22926, 8)

In [322]:
datadef.to_csv('datadefinitiva/asaef_totaldata.csv', index=False)

REGISTROS COINCIDENTES!

In [311]:
tottal = datadef['Nombre'].str.upper().to_list()
tott2021 = data2021['Colegio'].to_list()

In [312]:
suma = 0

for nombre in tottal:
    if nombre in tott2021:
        suma += 1
print(len(tott2021))
print(suma)

409
185

In [313]:
data2021_2 = data2021.copy()
# data2021_2.head()

In [314]:
# New (2021table) data/asaef_data2021.csv

datamix = datadef[['Nombre', 'ID', 'Codigo_Postal', 'Provincia', 'Estado']]
datamix['Nombre'] = datamix['Nombre'].str.upper()

datamix.rename(columns={'Nombre':'Colegio'}, inplace=True)

df_merge = pd.merge(data2021_2[['Colegio', 'Teléfono', 'Email']], datamix, on='Colegio')
df_merge.rename(columns={'Colegio':'Nombre'}, inplace=True)
df_merge['Nombre'] = df_merge['Nombre'].str.title()
df_merge

c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\Users\Usuario\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Nombre,Teléfono,Email,ID,Codigo_Postal,Provincia,Estado
0,5 Chupetes,658938163,recepcionciudadjardin@5chupetes.com,29017301,29004,Málaga,Andalucía
1,Carmen Urbano Villegas,658615432,victoria_perdigon@hotmail.com,18013812,18130,Granada,Andalucía
2,Montessori Community Granada,722663242,info@montessoricg.com,18015456,18630,Granada,Andalucía
3,El Centro Inglés,956 850 560,pdirector@elcentroingles.es,11007341,11500,Cádiz,Andalucía
4,Santa María De Gracia,959253643,orientacion@agustinashuelva.com,41016541,41540,Sevilla,Andalucía
...,...,...,...,...,...,...,...
188,Ponce De León,913178441,ralvarez@ponceleon.org,23005839,23650,Jaén,Andalucía
189,María,669137824,maglezn@gmail.com,4009541,04838,Almería,Andalucía
190,Montessori Village La Moraleja,620909956,pedagogico.lamoraleja@montessorivillage.es,28076897,28108,Madrid,Madrid
191,Colegio Magda,628573238,isabelmartinez@colegiomagda.com,30020352,30562,Murcia,Murcia
192,Murumendi,647315625,Marea018@gmail.com,20006560,20200,Guipúzcoa,País Vasco

In [323]:
df_merge.drop_duplicates(subset='ID', keep='first', inplace=True, ignore_index=False)

In [317]:
df_merge.to_csv('datadefinitiva/asaef_dataM2021.csv', index=False)

### Basura 
Estado = {
'Andalucía' :['Almería', 'Cádiz', 'Córdoba', 'Granada', 'Huelva', 'Jaén', 'Málaga', 'Sevilla'],
'Aragón':['Huesca', 'Teruel', 'Zaragoza'],
'Asturias' :['Oviedo'],
'Baleares' :['Palma de Mallorca'],
'Canarias' :['Santa Cruz de Tenerife', 'Las Palmas de Gran Canaria'],
'Cantabria' :['Santander'],
'Castilla La Mancha' :['Albacete', 'Ciudad Real', 'Cuenca', 'Guadalajara', 'Toledo'],
'Castilla y León' :['Ávila', 'Burgos', 'León', 'Salamanca', 'Segovia', 'Soria', 'Valladolid', 'Zamora'],
'Cataluña' :['Barcelona', 'Gerona', 'Lérida', 'Tarragona'],
'Comunidad Valenciana' :['Alicante', 'Castellón', 'Valencia'],
'Extremadura' :['Badajoz', 'Cáceres'],
'Galicia' :['La Coruña', 'Lugo', 'Orense', 'Pontevedra'],
'Madrid':['Madrid'],
'Murcia':['Murcia'],
'Navarra' :['Pamplona'],
'País Vasco' :['Bilbao', 'San Sebastián', 'Vitoria'],
'La Rioja' :['Logroño']}

# Upper Cases
data['Nombre'] = data['Nombre'].str.upper()
data['Provincia'] = data['Provincia'].str.upper()
data['Codigo Postal'] = data['Codigo Postal'].str.upper()
data['Estado'] = data['Estado'].str.upper()
data.head()