In [ ]:
import pandas as pd
# load the data into a Pandas DataFrame
contacts = pd.read_csv('clean_asaef_data.csv')
contacts.head(4)

In [ ]:
print(str(contacts.shape) + ' Number of unique PS:' + str(contacts['Codigo postal']))

In [ ]:
contacts.columns

In [ ]:
contacts.rename(columns= {'Codigo postal':'Codigo_Postal', 'Sitio web':'Web'}, inplace = True)
# contacts.rename(columns= {'Sitio web':'Web'}, inplace = True)

In [ ]:
contacts.info()

In [ ]:
contacts.to_csv('asaef_data_ae.csv', index=False)

### Creamos las tablas en sqlite

In [ ]:
from pathlib import Path

Path('aseaf_org.db').touch()

In [ ]:
import sqlite3

conn = sqlite3.connect('aseaf_org.db')
c = conn.cursor()

In [ ]:
c = conn.cursor()
c.execute('''CREATE TABLE colegios (
    Nombre text, 
    Direccion text,
    Ciudad text, 
    Estado text, 
    Codigo_Postal text,
    Telefono text,
    Email text, 
    Web text, 
    Categoria text
    )''')
    
    # c.execute('''DROP TABLE colegios''')

In [ ]:
# c.execute('''DROP TABLE colegios''')

In [ ]:
# write the data to a sqlite table
contacts.to_sql('colegios', conn, if_exists='append', index = False)

In [ ]:
c.execute('''SELECT * 
FROM colegios
WHERE estado == 'MADRID'
LIMIT 3'''
).fetchall()

### Crear nuestra Segunda Tabla EN SQLite

In [ ]:
import pandas as pd
# load the data into a Pandas DataFrame
contacts2021 = pd.read_csv('clean_asaef_data2021.csv')
contacts2021.head(4)

In [ ]:
contacts2021.columns

In [ ]:
contacts2021.rename(columns= {'Colegio':'Nombre', 'Codigo Postal':'Codigo_Postal', 'Tel√©fono':'Telefono'}, inplace = True)
# contacts2021.rename(columns= {'Codigo Postal':'Codigo_Postal'}, inplace = True)

In [ ]:
contacts2021.to_csv('asaef_data2021_ae.csv', index=False)

In [ ]:
c.execute('''CREATE TABLE edicion2021 (
    Nombre text, 
    Telefono int,
    Email text,  
    Codigo_Postal text, 
    Provincia text
    )''')

In [ ]:
# c.execute('''DROP TABLE edicion2021''')

In [ ]:
contacts2021.to_sql('edicion2021', conn, if_exists='append', index = False) # write to sqlite table

In [ ]:
c.execute('''SELECT * 
FROM edicion2021
WHERE Provincia == 'ZARAGOZA'
LIMIT 3'''
).fetchall()

In [ ]:
# Close connection to SQLite database
conn.close()

### Crear Base de Datos en ElephantSQL

In [ ]:
'''try:
    from urllib.parse import urlparse
except ImportError:
    from urlparse import urlparse'''

In [52]:
import os
import urllib.parse as up
import psycopg2

up.uses_netloc.append("postgres")
# url = up.urlparse(os.environ["postgres://zqodgkrt:sngJY6qhzebvTHFHubt8d9_SrrEevErx@tyke.db.elephantsql.com:5432/zqodgkrtL"])
conn = psycopg2.connect("dbname='zqodgkrt' user='zqodgkrt' host='tyke.db.elephantsql.com' password='sngJY6qhzebvTHFHubt8d9_SrrEevErx'")

In [53]:
c = conn.cursor()

In [ ]:
c.execute('''DROP TABLE colegios''')
conn.commit()

In [ ]:
import pandas as pd
df = pd.read_csv('datadefinitiva/asaef_totaldata.csv')
# df = pd.read_csv('datadefinitiva/asaef_dataM2021.csv')
df

In [ ]:
c.execute('''CREATE TABLE colegios (
    Nombre TEXT, 
    Email TEXT,
    Telefono TEXT,
    Codigo_Postal TEXT,
    ID INT PRIMARY KEY,
    Provincia TEXT, 
    Estado TEXT,  
    Categoria TEXT
    )''')
    
conn.commit()

In [ ]:
c.execute('''DROP TABLE edicion2022''')
conn.commit()

In [ ]:
df1 = pd.read_csv('datadefinitiva/asaef_dataM2021.csv')
df1.head(10)

In [ ]:
c.execute('''CREATE TABLE edicion2021 ( 
    Nombre TEXT, 
    Telefono TEXT,
    Email TEXT, 
    ID INT, 
    Codigo_Postal TEXT, 
    Provincia TEXT,
    Estado TEXT,
    FOREIGN KEY (ID) REFERENCES colegios (ID)
    )''')

conn.commit()

In [ ]:
c.execute('''CREATE TABLE edicion2022 (
    ID INT, 
    Nombre TEXT, 
    Telefono TEXT,
    Email TEXT, 
    Provincia TEXT,
    Estado TEXT,
    FOREIGN KEY (ID) REFERENCES colegios (ID)
    )''')

conn.commit()

In [ ]:
# Prueba insert registro:

    # c.execute('''
    #             INSERT INTO colegios ( Nombre, Direccion, Ciudad, Estado, Codigo_Postal, Telefono, Email, Web, Categoria ) 
    #             VALUES ('Colegio San Jaime', 'Calle Valle de la Oliva', 'Madrid', 'Madrid', '28220', '916387954', 
    #                     'colegioSJ@gmail.com', 'webCSJ.com', 'Colegio concertado')''')

In [ ]:
# First and most efficient way (Not workin for us)
# conn.set_client_encoding('UTF8')

with open('datadefinitiva/asaef_totaldata.csv', 'r', encoding='utf-8') as f:
    # Notice that we don't need the `csv` module.
    next(f) # Skip the header row.
    c.copy_from(f, 'colegios', sep=',')

# conn.commit()

with open('datadefinitiva/asaef_dataM2021.csv', 'r') as p:
    # Notice that we don't need the `csv` module.
    next(p) # Skip the header row.
    c.copy_from(p, 'edicion2021', sep=',')

conn.commit()

In [54]:
#  Second Option, just in case we fail (The one it works)
import csv

# Primer Intento
with open('datadefinitiva/asaef_dataM2021.csv', 'r', encoding="utf8") as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    for row in reader:
        c.execute(
        "INSERT INTO edicion2021 VALUES (%s, %s, %s, %s, %s, %s, %s)",
        row
    )
conn.commit()

In [ ]:
#  Second Option, just in case we fail (The one it works)
import csv

# Segundo Intento
with open('asaef_data2021_ae.csv', 'r', encoding="utf8") as f:
    reader = csv.reader(f, delimiter=';')
    next(reader) # Skip the header row.
    for row in reader:
        c.execute(
        "INSERT INTO edicion2021 VALUES (%s, %s, %s, %s, %s, %s)",
        row
    )
conn.commit()

In [ ]:
c.execute('''SELECT * 
FROM colegios
LIMIT 3'''
).fetchall()

In [ ]:
conn.close()

### Basura

sql2 = '''COPY details(Nombre,Direccion,Ciudad,Estado,Codigo_Postal,Telefono,Email,Web,Categoria)
FROM 'prueba.csv'
DELIMITER ','
CSV HEADER;'''
  
c.execute(sql2)